.b-our-team {
  display: flex;
  flex-direction: column;
}

.b-our-team__heading {
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.b-person {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;

  @media (max-width: 960px) {
    column-gap: 20px;
  }
}

.b-our-team__list {
  margin-bottom: 80px;
}

.b-our-team__link {}

.b-our-team__title {}

.b-our-team__blockquote {
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
  font-weight: 400;
  transform: translateX(7vw);
}

.b-person__item {
  display: flex;
  flex-direction: column;

  @media (max-width: 560px) {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.b-person__item_grow-2 {
  max-width: calc((100% - 120px) / 6 * 2);
  width: 100%;

  @media (max-width: 960px) {
    max-width: calc((100% - 20px) / 3 * 2);
  }
}

.b-person__item_grow-1 {
  max-width: calc((100% - 120px) / 6 * 1);
  width: 100%;

  @media (max-width: 960px) {
    max-width: calc((100% - 20px) / 3 * 1);
  }
}

.b-person__photo {
  object-fit: contain;
  margin-bottom: 40px;
  transition: all 0.5s ease-in-out;

  &:hover {
    opacity: 0.85;
    transform: scale(1.03);
  }
}

.b-person__name {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;

  @media(max-width:1360px) {
    font-size: 20px;
  }

  @media(max-width:1000px) {
    font-size: 18px;
  }
}

@media(max-width:600px){
  .b-person__name {
    margin-bottom: 0;
  }
}

.b-person__positiopn {
  font-size: 18px;
  max-width: 210px;

  @media(max-width:1360px) {
    font-size: 14px;
  }

  @media(max-width:1000px) {
    font-size: 12px;
  }
}

.b-person__item_xl {
  max-width: 29.6vw;
}

.b-person__item_md {
  max-width: 15.45vw;
}

.b-person__item_lg {
  max-width: 29.6vw;
}

.b-person__item_sm {
  max-width: 14.1vw;
}


@media(max-width:1000px) {
  .b-our-team__heading {
    margin-bottom: 80px;
  }

  .b-person__photo {
    margin-bottom: 30px;
  }

  .b-our-team__list {
    margin-bottom: 65px;
  }

  .b-our-team__blockquote {
    font-size: 22px;
    transform: none;
  }
}

@media(min-width:800px) {
  .swiper-slide {
    width: auto;
  }
}


@media(max-width:800px) {
  .mySwiper_team {
    position: relative;
    width: 100vw;
  }

  .b-our-team__btn-wrapper {
    padding-left: 30px;
  }

  .mySwiper__gradient_after {
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    width: 30px;
    height: 100%;
    top: 0;
    z-index: 9999;
    pointer-events: none;
  }
  .mySwiper__gradient_before {
    position: absolute;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
    width: 30px;
    height: 100%;
    top: 0;
    z-index: 9999;
    pointer-events: none;
    right: 0;
  }

  .b-person__item_xl {
    max-width: 59.6vw;
  }

  .b-person__item_md {
    max-width: 45.45vw;
  }

  .b-person__item_lg {
    max-width: 59.6vw;
  }

  .b-person__item_sm {
    max-width: 44.1vw;
  }

  .swiper-slide:not(.mySwiperBlog .swiper-slide) {
    transform: translateX(70vw);
    &:last-child {
      //padding-right: 4vw;
    }
  }

  .b-our-team__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 0;

    @media(max-width:800px){
        margin-bottom: 60px;
    }
  }
  .b-our-team__blockquote {
    font-size: 16px;
    margin-right: 0;
    margin-left: 0;
    text-align: left;
  }
  .b-our-team__title {
    margin-bottom: 15px;
  }
  .mySwiper_team {
    margin-bottom: 40px;
  }
}

.b-our-team__btn-wrapper {
  position: relative;

  @media (max-width: 560px) {
    padding-left: 0;
  }
}
