.b-field-file {
  display: block;
  width: 100%;
  outline: none;
  position: relative;
}

.b-field-file__input {
  position: relative;
  z-index: 1;
  opacity: 1;
  outline: none;
  width: 100%;
  height: 76px;
  overflow: hidden;

  @media (max-width: 1000px) {
    height: 70px;
  }

  @media (max-width: 660px) {
    height: 56px;
  }

  @media (max-width: 560px) {
    height: 100px;
  }
}

.b-field-file__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-left: 14px;
  width: 100%;
  height: 76px;
  background-color: #fff;
  transition: all .2s;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  outline: transparent;

  @media (max-width: 1000px) {
    height: 70px;
  }

  @media (max-width: 660px) {
    height: 56px;
  }

  @media (max-width: 560px) {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 11px;
    height: 100px;
  }
}

.b-field-file__label {
  font-weight: 500;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
  margin-right: 20px;
  height: 76px;
  padding: 19px 80px !important;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #FECC00 0%, #FECC00 50%, #000 50%, #000 100%) 0 0;
    background-size: 100% 200%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skew(21deg);
    transition: all ease-in-out 0.5s;
  }

  &:hover {
    color: white;
    &:after {
      background-position: 0 100%;
    }
  }

  @media (max-width: 1000px) {
    height: 70px;
  }

  @media (max-width: 660px) {
    padding: 14px 44px !important;
    height: 56px;
  }

  @media (max-width: 560px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.b-field-file__name {
  font-weight: 400;
  font-size: 18px;
  color: rgba(black, 0.4);
  display: inline-block;

  @media (max-width: 560px) {
    padding-left: 10px;
  }
}
