.b-field-file {
  display: block;
  width: 100%;
  outline: none;
  position: relative;

  &:focus .b-field-file__inner {
    border-bottom: 2px solid #FECC00;
    color: #000;
    opacity: 1;
  }
}

.b-field-file__input {
  position: relative;
  z-index: 1;
  opacity: 1;
  outline: none;
  width: 100%;
  height: 90px;
  overflow: hidden;

  &:focus ~ .b-field-file__inner {
    border-bottom: 2px solid #FECC00;
    color: #000;
    opacity: 1;
  }

  @media (max-width: 560px) {
    height: 120px;
  }
}

.b-field-file__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #F2F2F2;
  transition: all .2s;
  padding: 30px;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  outline: transparent;

  @media (max-width: 560px) {
    flex-direction: column;
    height: 120px;
  }
}

.b-field-file__label {
  font-weight: 500;
  color: black;
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;

  @media (max-width: 560px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.b-field-file__name {
  font-weight: 400;
  font-size: 18px;
  color: rgba(black, 0.4);
  display: inline-block;
}
