.b-first-screen {
  width: 100%;
  position: relative;

  @media(max-width: 660px) {
    height: 100vh;
  }
}

.b-first-screen_full-height {
  height: 100vh;
  object-fit: cover;
}

.b-page_404 .b-main__section {
  padding-bottom: 0;
}

.b-media.b-first-screen__media {
}

.b-first-screen__media {
  height: 100%;
}

.b-first-screen__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.b-main-title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 4.5vw;

  @media(max-width: 1000px) {
    font-size: 5.5vw;
  }
}

.b-main-title_white {
  color: white;
}


.b-main-subtitle {
}

.b-main-subtitle_white {
  color: white;
}

@media(max-width: 460px) {
  .b-first-screen__inner {
    transform: translate(-50%, -39%);
  }
}

.b-media__item {
  width: 100%;
  object-fit: cover;
  height: 100vh;

  @media(max-width: 660px) {
    object-fit: cover;
    height: 100vh;
  }
}

video.b-media__item {
}

.b-video {
  object-fit: cover !important;
  aspect-ratio: 1920/1080 !important;
}

.b-first-screen__title {
  margin-bottom: 40px;

  @media(max-width: 800px) {
    margin-bottom: 25px;
  }
}

.b-first-screen__subtitle {
  margin-bottom: 40px;
}

.b-first-screen__subtitle_bold {
  font-size: 48px;
  font-weight: 700;

  @media(max-width: 1200px) {
    font-size: 40px;
  }

  @media(max-width: 1000px) {
    font-size: 36px;
  }

  @media(max-width: 660px) {
    font-size: 32px;
  }

  @media(max-width: 440px) {
    font-size: 26px;
  }
}

.b-btn.b-first-screen__button {
}


@media(max-width: 660px) {
  .b-first-screen__title {
    font-size: 44px;
  }
}

@media(max-width: 460px) {
}
