
.b-first-screen {
  width: 100%;
  position: relative;

  @media(max-width:660px) {
    height: 100vh;
  }
}

.b-first-screen_full-height {
  height: 100vh;
  object-fit: cover;
}

.b-page_404 .b-main__section {
  padding-bottom: 0;
}

.b-first-screen.b-parallax-fIrst-screen {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0,);
}
.b-main__section:first-child {
  height: 100vh;
  margin-bottom: 65vh;
}

.b-first-screen__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  user-select: none;
}

.b-main-title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 4.5vw;

  @media(max-width:1000px) {
    font-size: 5.5vw;
  }

}

@media(max-width:460px) {
  .b-first-screen__inner {
    transform: translate(-50%, -39%);
  }
}

.b-media__item {
  width: 100%;
  object-fit: contain;

  @media(max-width:660px) {
    object-fit: cover;
    height: 100vh;
  }
}

.b-video {
  min-width: 100%;
  min-height: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.b-first-screen__title {
  margin-bottom: 40px;

  @media(max-width:800px) {
    margin-bottom: 25px;
  }
}

.b-first-screen__subtitle {
  margin-bottom: 40px;
}

.b-first-screen__subtitle_bold {
  font-size: 48px;
  font-weight: 700;

  @media(max-width:1200px) {
    font-size: 40px;
  }

  @media(max-width:1000px) {
    font-size: 36px;
  }

  @media(max-width:660px) {
    font-size: 32px;
  }

  @media(max-width:440px) {
    font-size: 26px;
  }
}

.b-btn.b-first-screen__button {}



@media(max-width:660px) {
  .b-first-screen__title {
    font-size: 44px;
  }
}

@media(max-width:460px) {}
