.b-order-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -10px;
}

.b-order-form__item {
  margin: 10px;
  width: calc(50% - 20px);
}

.b-order-form__item_full {
  width: 100%;
}

.b-order-form__agree {
  padding: 20px 0;
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  line-height: 1.6;

  & a {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #FECC00;
    opacity: 1;
    transition: all .3s;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 0;
      height: 1px;
      width: 0%;
      background-color: #FECC00;
      transition: width .3s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
