.b-slider {

  &__nav {
    position: relative;
    padding-bottom: 240px;
    width: 168px;
    margin-left: auto;
    margin-right: 30vw;

    @media(max-width:1200px) {
      padding-bottom: 150px;
    }

    & .swiper-button-next,
    & .swiper-button-prev {}
  }

  // .swiper-slide_article {
  //     max-width: 1440px;
  //     max-width: 740px;
  // }
  // .swiper-slide__img {
  //     object-fit: cover;
  //     min-width: 100%;
  //     min-height: 100%;
  // }
}
