.b-modal_video {
  background-color: transparent;
  padding: 25px;
  width: 100%;
  max-width: 1170px;

  @media (max-width: 560px) {
    padding: 10px;
  }
}

.b-modal-overlay_video {
  padding: 0;
  z-index: 999999;
  transform: translate3d(0, 0, 0);
}

.b-modal__video-item {
  object-fit: cover !important;
  aspect-ratio: 1920/1080 !important;
}
