<div class="b-right-side-text b-right-side-text_about">
  <div class="b-right-side-text_left-col">
    <h2 class="b-title b-right-side-text__title">
      About Us
    </h2>
    <a class="b-right-side-text__btn b-right-side-text__btn_desc b-btn_yellow" href="#">Learn More</a>
  </div>
  <div class="b-right-side-text_right-col">
    <p>
      We develop business-changing, culture-defining and award-winning ideas for brands.
      And we’ve got the hardware to prove it.
    </p>
    <p>Named Adweek's 2018 Global Agency of the Year, we have been recognized with top honors from every major creative
      award show, including Cannes Lions, Clios, D&AD, Effies, Webbys and the Emmy awards.</p>
  </div>
  <a class="b-right-side-text__btn b-right-side-text__btn_mob b-btn_yellow" href="#">Learn More</a>
</div>
