<div class="b-blog-slider">

  <div class="b-blog-slider__heading">
    <h2 class="b-blog-slider__title b-title">Mass Media About Us</h2>
    <div class="b-blog-slider__slider-btns">
      <div class="b-slider-arrow swiper-button-prev"></div>
      <div class="b-slider-arrow swiper-button-next"></div>
    </div>
  </div>

  <div class="b-blog-slider__wrapper">
    <div class="swiper mySwiperBlog">
      <div class="swiper-wrapper">
        <a class="swiper-slide" href="#">
          <article class="b-article b-article_slide">
            <div class="b-article__inner-img">
              <img class="b-article__picture" draggable="false" src="./../img/imposition1.jpg" alt="article illustration">
            </div>
            <div class="b-article__wrapper">
              <time class="b-article__date" datetime="2020, 07, 01">September 01, 2020</time>
              <h3 class="b-article__title">
                13 TBWA panel presentations in the running for SXSW 2022
              </h3>
              <div class="b-article__text">
                <p>The Times</p>
                <p>Community voting via the SXSW Panel Picker closes August 26!</p>
              </div>
            </div>
          </article>
        </a>
        <a class="swiper-slide" href="#">
          <article class="b-article b-article_slide">
            <div class="b-article__inner-img">
              <img class="b-article__picture" draggable="false" src="./../img/imposition2.jpg" alt="article illustration">
            </div>
            <div class="b-article__wrapper">
              <time class="b-article__date" datetime="2020, 07, 01">September 01, 2020</time>
              <h3 class="b-article__title">
                13 TBWA panel presentations in the running for SXSW 2022
              </h3>
              <div class="b-article__text">
                <p>The Times</p>
                <p>Community voting via the SXSW Panel Picker closes August 26!</p>
              </div>
            </div>
          </article>
        </a>
        <a class="swiper-slide" href="#">
          <article class="b-article b-article_slide">
            <div class="b-article__inner-img">
              <img class="b-article__picture" draggable="false" src="./../img/imposition3.jpg" alt="article illustration">
            </div>
           <div class="b-article__wrapper">
              <time class="b-article__date" datetime="2020, 07, 01">September 01, 2020</time>
              <h3 class="b-article__title">
                13 TBWA panel presentations in the running for SXSW 2022
              </h3>
              <div class="b-article__text">
                <p>The Times</p>
                <p>Community voting via the SXSW Panel Picker closes August 26!</p>
              </div>
           </div>
          </article>
        </a>
      </div>
    </div>
  </div>
</div>
