<div class="b-contact-form">
  <h2 class="b-contact-form__title b-title">Contact Us</h2>
  <div class="b-contact-form__wrapper">
    <form class="b-form">
      <input class="b-form__input b-form__input_name" placeholder="Name*" required type="text">
      <input class="b-form__input b-form__input_email" placeholder="E-mail*" required type="text">
      <input class="b-form__input b-form__input_phone" placeholder="Phone" type="number">
      <input class="b-form__input b-form__input_company" placeholder="Company name" type="text">
      <textarea class="b-form__textfield" placeholder="Message..." name="" id=""></textarea>
      <div class="b-form__agrement-box">
        <div class="b-form__agrement">By using this form you agree to the processing of</div>
        <a class="b-form__agrement-link" href="#">
          personal data
        </a>
      </div>
      <button class="b-form__submit b-btn b-btn_yellow" type="submit">Send</button>
    </form>
  </div>
</div>
