<div class="b-contacts-section">
  <h2 class="b-contacts-section__title b-title">Our Team</h2>
  <div class="b-contacts-block b-contacts-section__wrapper">
    <div class="b-contacts-block__item">
      <h3 class="b-contacts-block__item-title">Address</h3>
      <address class="b-contacts-block__address b-contacts-block__info">
        <a class="b-contacts-block__map" href="https://goo.gl/maps/JwYH8VHsaDnoREREA">3, Sportyvna sq., exit 4, 4th floor Kyiv, Ukrain 01001</a>
      </address>
    </div>
    <div class="b-contacts-block__item">
      <h3 class="b-contacts-block__item-title">Phone</h3>
      <a class="b-contacts-block__tel b-contacts-block__info" href="tel:+380445947733">
          +380 44 594 7733
        </a>
    </div>
    <div class="b-contacts-block__item">
      <h3 class="b-contacts-block__item-title">E-mail</h3>
      <a class="b-contacts-block__email b-contacts-block__info" href="mailto:office@tbwa.com.ua">office@tbwa.com.ua</a>
    </div>
    <div class="b-contacts-block__item">
      <h3 class="b-contacts-block__item-title">Social</h3>
      <div class="b-socials b-contacts-block__links">
        <a class="b-socials__link" href="#">
          <img class="b-socilas__icon" src="./img/fb.svg" alt="facebook link">
        </a>
        <a class="b-socials__link" href="#">
          <img class="b-socilas__icon" src="./img/inst.svg" alt="instagram link">
        </a>
        <a class="b-socials__link" href="#">
          <img class="b-socilas__icon" src="./img/twit.svg" alt="twitter link">
        </a>
      </div>
    </div>
  </div>
</div>
