<div class="b-diagonal__content b-diagonal__content_disruption">
  <h2 class="b-diagonal__title b-title">A Cure for The Common</h2>
  <div class="b-diagonal__descripption">
    We are not a traditional ad agency network — we are a radically open creative collective. We look at what everyone else is doing and strive to do something completely new. Completely ownable. We live and breathe Disruption, and for more than two decades that's been the secret to our clients' unprecedented success. 
  </div>
  <a  href="#" class="b-btn b-btn_yellow b-diagonal__btn"><div class="b-btn__text">More on Disruption</div></div>
  <a class="b-diagonal__link"  href="#" >Download the Edges</a>
</div>
