<div class="b-our-team">
    <div class="b-our-team__heading">
        <h2 class="b-title b-our-team__title">Our Team</h2>
        <blockquote class="b-our-team__blockquote">“It’s better to be a pirate than to join the Navy.”</blockquote>
    </div>
    <div class="mySwiper mySwiper_team b-our-team__slider">
        <span class="mySwiper__gradient mySwiper__gradient_after"></span>
        <ul class="b-person swiper-wrapper">
            <li class="b-person__item swiper-slide b-person__item_xl">
                <img class="b-person__photo b-person__photo_xl" src="./../img/person1.jpg" alt="photo">
                <div class="b-person__name">Jean-Marie Dru</div>
                <div class="b-person__positiopn">Chairman, TBWA\Worldwide</div>
            </li>
            <li class="b-person__item swiper-slide b-person__item_md">
                <img class="b-person__photo b-person__photo_md" src="./../img/person2.jpg" alt="photo">
                <div class="b-person__name">Amie Miller</div>
                <div class="b-person__positiopn">Chief Talent Officer</div>
            </li>
            <li class="b-person__item swiper-slide b-person__item_lg">
                <img class="b-person__photo b-person__photo_lg" src="./../img/person3.jpg" alt="photo">
                <div class="b-person__name">John Hunt</div>
                <div class="b-person__positiopn">Global Creative Chair</div>
            </li>
            <li class="b-person__item swiper-slide b-person__item_sm">
                <img class="b-person__photo b-person__photo_sm" src="./../img/person4.jpg" alt="photo">
                <div class="b-person__name">Deepthi Prakash</div>
                <div class="b-person__positiopn">Global Director of Product and Marketing</div>
            </li>
        </ul>
        <span class="mySwiper__gradient mySwiper__gradient_before"></span>
    </div>
    <a class="b-btn b-btn_yellow b-our-team__link" href="#">To All Team</a>
</div>