<div class="b-first-screen b-first-screen_case b-first-screen_title b-first-screen_btn">
    <div class="b-media b-first-screen__media">
      <img class="b-media__item b-media__item_case" src="./img/panda.jpg" alt="media">
    </div>
    <div class="b-case">
      <div class="b-case__company-name">McDonald's</div>
      <h1 class="b-case__title b-main-title">McDrive order for 45 seconds!</h1>
      <div class="b-case__description">
        McDonald's has challenged all of us: it has pledged to collect orders for McDrive in 45 seconds! And if his team does not cope with the speed - will add McNuggets as a gift. Ambitious? 😏
      </div>

      <a class="b-btn b-btn_white b-first-screen__button" href="#"><span class="b-btn__text">Watch</span></a>
    </div>
</div>
