<div class="b-first-screen b-first-screen_article b-first-screen_title">
    <div class="b-media b-first-screen__media">
      <img class="b-media__item" src="./img/article.jpg" alt="media">
    </div>
    <div class="b-first-screen__inner">
      <h1 class="b-title b-title_article b-first-screen__title">ADCOLOR Announces Nominees and Honorees for 15th Annual ADCOLOR Awards</h1>
      <span class="b-first-screen__subtitle">— Steve Jobs</span>
      <a class="b-btn b-first-screen__button" href="#">Watch</a>
    </div>
  </div>