<footer class="b-footer">
  <div class="b-footer__top">
    <a class="b-logo b-foter_logo b-footer__top-logo" href="index.html">
      <img class="b-logo__img" src="./img/logo.svg" alt="logo">
    </a>
    <div class="b-menu b-menu_footer">
      <nav class="b-menu__wrapper">
        <ul class="b-menu__list">
          <li class="b-menu__list-item">
            <a class="b-menu__list-link" href="about-page.html">About</a>
          </li>
          <li class="b-menu__list-item">
            <a class="b-menu__list-link" href="disruption.html">Disruption</a>
          </li>
          <li class="b-menu__list-item">
            <a class="b-menu__list-link" href="projects-page.html">Projects</a>
          </li>
          <li class="b-menu__list-item">
            <a class="b-menu__list-link" href="team-page.html">Team</a>
          </li>
          <li class="b-menu__list-item">
            <a class="b-menu__list-link" href="news-page.html">News</a>
          </li>
          <li class="b-menu__list-item">
            <a class="b-menu__list-link" href="contacts-page.html">Contact</a>
          </li>
        </ul>

        <!-- contacts/ socials -->
        <div class="b-menu__contacts">
          <div class="b-communications b-communications_footer">
            <div class="b-communications__top">

              <div class="b-contacts">
                <address class="b-contacts__address b-contacts__item">
                  <a class="b-contacts__address-map " href="https://goo.gl/maps/JwYH8VHsaDnoREREA">
                    3, Sportyvna sq., exit 4, 4th floor Kyiv, Ukrain 01001
                  </a>
                </address>
                <a class="b-contacts__tel  b-contacts__item" href="tel:+380445947733">
                  +380 44 594 7733
                </a>
                <a class="b-contacts__email  b-contacts__item" href="mailto:office@tbwa.com.ua">
                  office@tbwa.com.ua
                </a>
              </div>
            </div>

            <div class="b-communications__bottom">
              <div class="b-socials">
                <a class="b-socials__link" href="#" data-modal-open="agreement">
                  <img class="b-socilas__icon" src="./img/fb.svg" alt="facebook link">
                </a>
                <a class="b-socials__link" href="#" data-modal-open="agreement">
                  <img class="b-socilas__icon" src="./img/inst.svg" alt="instagram link">
                </a>
                <a class="b-socials__link" href="#" data-modal-open="agreement">
                  <img class="b-socilas__icon" src="./img/twit.svg" alt="twitter link">
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="b-footer__bottom">
      <ul class="b-contrats b-footer__bottom__item">
        <li class="b-contracts__item">
          <a class="b-contracts__link" href="#" data-modal-open="personal date">Cookie Policy</a>
        </li>
        <li class="b-contracts__item">
          <a class="b-contracts__link" href="#" data-modal-open="personal date">Privacy Policy</a>
        </li>
        <li class="b-contracts__item">
          <a class="b-contracts__link" href="#" data-modal-open="personal date">Terms Of Service</a>
        </li>
      </ul>
      <p class="b-copyright b-footer__bottom__item">
        © TBWA 2021. All Rights Reserved
        <br>
        TBWA and Disruption are registered trademarks of TBWA
        <br>
        <a target="_blank" href="https://totonis.com">Made by Totonis</a>
      </p>
  </div>
</footer>
