<div class="b-contact-form">
  <h2 class="b-contact-form__title b-title">Contact Us</h2>
  <div class="b-contact-form__wrapper">
    <form class="b-order-form">
      <div class="b-order-form__item">
        <div class="b-field">
          <input type="text" class="b-field__input" placeholder="Name*">
        </div>
      </div>
      <div class="b-order-form__item">
        <div class="b-field">
          <input type="text" class="b-field__input" placeholder="E-mail*">
        </div>
      </div>
      <div class="b-order-form__item">
        <div class="b-field">
          <input type="text" class="b-field__input" placeholder="Phone">
        </div>
      </div>
      <div class="b-order-form__item">
        <div class="b-field">
          <input type="text" class="b-field__input" placeholder="Company name">
        </div>
      </div>
      <div class="b-order-form__item b-order-form__item_full">
        <div class="b-field">
          <textarea class="b-field__input" placeholder="Message..."></textarea>
        </div>
      </div>
      <div class="b-order-form__item b-order-form__item_full">
        <label class="b-field-file" data-fileinput>
          <input type="file" class="b-field-file__input">
          <span class="b-field-file__inner">
            <span class="b-field-file__label">Выберите файл</span>
            <span class="b-field-file__name">Файл не выбран</span>
          </span>
        </label>
      </div>
      <div class="b-order-form__item b-order-form__item_full">
        <div class="b-order-form__agree">
          By using this form you agree to the processing of <a href="#">personal data</a>
        </div>
      </div>
      <div class="b-order-form__item b-order-form__item_full">
        <button type="submit" class="b-form__submit b-btn b-btn_yellow" data-modal-open="feedback">
          <span class="b-btn__text">Send</span>
        </button>
      </div>
    </form>
  </div>
</div>
