<header class="b-header b-header_white">
  <a class="b-logo b-header__logo" href="index.html">
    <img class="b-logo__img" src="./img/logo-white.svg" alt="logo">
  </a>
  <div class="b-nav-box b-header__nav-wrapper">
    <div class="b-lang b-nav-box__item"><span class="b-lang__current">ENG</span></div>
    <button class="b-burger b-nav-box__item" type="button">
      <span class="b-burger__line"></span>
      <span class="b-burger__line"></span>
    </button>
  </div>
  @include('menu.html')
</header>
