<div class="b-imposition b-imposition_reverse  b-imposition_desc">
  <div class="b-imposition__wrapper">
    <img class="b-imposition__main-img " src="./img/imposition3.jpg" alt="img">
    <div class="b-imposition__inner">
      <h2 class="b-imposition__title b-title">McDrive order for 45 seconds!</h2>
      <div class="b-imposition__description">
        McDonald's has challenged all of us: it has pledged to collect orders for McDrive in 45 seconds!
        And if his team does not cope with the speed - will add McNuggets as a gift. Ambitious? 😏
      </div>
      <a class="b-imposition__btn-link" href="#">
        <img class="b-imposition__arrow-icon" src="./../img/arrow-button.svg" alt="link icon" aria-label="hidden">
      </a>
    </div>
  </div>
  <img class="b-imposition__second-img " src="./img/imposition4.jpg" alt="img">
</div>

<div class="b-imposition b-imposition_reverse  b-imposition_mob">
  <div class="b-imposition__wrapper">
    <img class="b-imposition__main-img " src="./img/imposition3.jpg" alt="img">
    <img class="b-imposition__second-img " src="./img/imposition6.jpg" alt="img">
  </div>
    <div class="b-imposition__inner">
      <h2 class="b-imposition__title b-title">McDrive order for 45 seconds!</h2>
      <div class="b-imposition__description">
        McDonald's has challenged all of us: it has pledged to collect orders for McDrive in 45 seconds!
        And if his team does not cope with the speed - will add McNuggets as a gift. Ambitious? 😏
      </div>
      <a class="b-imposition__btn-link" href="#">
        <img class="b-imposition__arrow-icon" src="./../img/arrow-button.svg" alt="link icon" aria-label="hidden">
      </a>
    </div>
</div>
