<div class="b-imposition b-imposition_reverse  b-imposition_desc">
  <div class="b-imposition__wrapper">
    <div class="b-imposition__img-inner b-imposition__img-inner_main">
      <img class="b-imposition__main-img " src="./img/imposition3.jpg" alt="img">
    </div>
    <div class="b-imposition__inner">
      <h2 class="b-imposition__title b-title"><a class="b-imposition__title-link" href="case.html">McDrive order for 45 seconds!</a></h2>
      <div class="b-imposition__description">
        McDonald's has challenged all of us: it has pledged to collect orders for McDrive in 45 seconds! <br>
        And if his team does not cope with the speed - will add McNuggets as a gift. Ambitious? 😏
      </div>
      <a class="b-imposition__btn-link" href="case.html">
        <span class="b-imposition__arrow-icon"></span>
      </a>
    </div>
  </div>
  <div class="b-imposition__img-inner b-imposition__img-inner_second">
    <img class="b-imposition__second-img " src="./img/imposition4.jpg" alt="img">
  </div>
</div>

<div class="b-imposition b-imposition_reverse  b-imposition_mob">
  <div class="b-imposition__wrapper">
    <div class="b-imposition__img-inner b-imposition__img-inner_main">
      <img class="b-imposition__main-img " src="./img/imposition3.jpg" alt="img">
    </div>
    <div class="b-imposition__img-inner b-imposition__img-inner_second">
      <img class="b-imposition__second-img " src="./img/imposition6.jpg" alt="img">
    </div>
  </div>
    <div class="b-imposition__inner">
      <h2 class="b-imposition__title b-title"><a class="b-imposition__title-link" href="case.html">McDrive order for 45 seconds!</a></h2>
      <div class="b-imposition__description">
        McDonald's has challenged all of us: it has pledged to collect orders for McDrive in 45 seconds! <br>
        And if his team does not cope with the speed - will add McNuggets as a gift. Ambitious? 😏
      </div>
      <a class="b-imposition__btn-link" href="case.html">
        <span class="b-imposition__arrow-icon"></span>
      </a>
    </div>
</div>
