<div class="b-menu">
  <nav class="b-menu__wrapper">
      <ul class="b-menu__list">
          <li class="b-menu__list-item">
              <a class="b-menu__list-link" href="#">Home</a>
          </li>
          <li class="b-menu__list-item">
              <a class="b-menu__list-link" href="#">About</a>
          </li>
          <li class="b-menu__list-item">
              <a class="b-menu__list-link" href="#">Disruption</a>
          </li>
          <li class="b-menu__list-item">
              <a class="b-menu__list-link" href="#">Projects</a>
          </li>
          <li class="b-menu__list-item">
              <a class="b-menu__list-link" href="#">Team</a>
          </li>
          <li class="b-menu__list-item">
              <a class="b-menu__list-link" href="#">News</a>
          </li>
          <li class="b-menu__list-item">
              <a class="b-menu__list-link" href="#">Contact</a>
          </li>
      </ul>
  </nav>  
</div>