<div class="b-modal-overlay" data-modal="feedback">
  <div class="b-modal b-modal-overlay__content">
    <div class="b-modal__nav">
      <div class="b-modal__title">Feedback</div>
      <button class="b-close-btn b-modal__close-btn" type="button" aria-label="close modal" data-modal-close>
        <svg data-modal-close width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25" cy="25" r="24" stroke="#FECC00" stroke-width="2" />
          <path d="M31 19L19 31" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round" />
          <path d="M19 19L31 31" stroke="black" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="b-modal__message">
        Thank you for <br> contacting us!
    </div>
    <div class="b-modal__description">
        Our manager will contact you shortly!
    </div>
    <a class="b-modal__btn-return b-btn b-btn_yellow" href="index.html"> <span class="b-btn__text">Back to home page</span></a>
  </div>
</div>
