<div class="b-col">
    <div class="b-text b-col__content">
        <h2 class="b-text__title b-title">Disruption Live</h2>
        <div class="b-text__subtile">Connecting at the speed of culture</div>
        <div class="b-text__content">
            <p>Your target audience's attention has to be earned. It's not about share of voice anymore, it's about 'share of culture'. Competition is more than the category. Brands have a role to play in culture. Culture is everywhere and it never sleeps. Brands will have to decide: which areas in culture are relevant to us and our customers in the near future? With Edges, Backslash and Disruption® Live we have the tools at hand to keep brands just as alive and top-of-mind as culture. </p>
        </div>
    </div>
</div>