<div class="b-personala-data">
  <div class="b-personal-data__main">
    <div class="b-personala-data__left-col">
      <h1 class="b-personala-data__title">
        Personal data processing conditions
      </h1>
      <div class="b-contract-nav b-personala-data__nav">
        <a href="#" class="b-contract-nav__wrapper" data-modal-close>
          <div class="b-contract-nav__btn b-contract-nav__close">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="24" stroke="#FECC00" stroke-width="2" />
              <path d="M31 19L19 31" stroke="black" stroke-width="1.5" stroke-linecap="square"
                stroke-linejoin="round" />
              <path d="M19 19L31 31" stroke="black" stroke-width="1.5" stroke-linecap="square"
                stroke-linejoin="round" />
            </svg>
          </div>
          <span class="b-contract-nav__text">Close</span>
        </a>
        <a href="#" class="b-contract-nav__wrapper">
          <div class="b-contract-nav__btn b-contract-nav__print">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="25" cy="25" r="24" stroke="#FECC00" stroke-width="2" />
              <path d="M20.5 22.75V17.5H29.5V22.75" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
              <path
                d="M20.5 29.5H19C18.6022 29.5 18.2206 29.342 17.9393 29.0607C17.658 28.7794 17.5 28.3978 17.5 28V24.25C17.5 23.8522 17.658 23.4706 17.9393 23.1893C18.2206 22.908 18.6022 22.75 19 22.75H31C31.3978 22.75 31.7794 22.908 32.0607 23.1893C32.342 23.4706 32.5 23.8522 32.5 24.25V28C32.5 28.3978 32.342 28.7794 32.0607 29.0607C31.7794 29.342 31.3978 29.5 31 29.5H29.5"
                stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M29.5 26.5H20.5V32.5H29.5V26.5Z" stroke="black" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
          <span class="b-contract-nav__text">Download PDF file</span>
        </a>
      </div>
    </div>
    <div class="b-pact b-personala-data__right-col">
      <h2>Definitions of concepts</h2>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque scelerisque amet feugiat ultrices venenatis,
          posuere. Vulputate ut sit cum felis.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque scelerisque amet feugiat ultrices venenatis,
          posuere. Vulputate ut sit cum felis.</li>
        <br>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque scelerisque amet feugiat ultrices venenatis,
          posuere. Vulputate ut sit cum felis. Neque eu, ut interdum phasellus ut sed porta. Praesent morbi tellus, nec,
          amet, turpis. Leo, dignissim morbi donec mauris, consectetur dictum donec tristique. Sed risus sagittis
          viverra scelerisque.</p>
        <p>Tortor eu hac tincidunt rhoncus, enim eu arcu, vulputate. Sit nisl tempus ultrices orci pellentesque ut.
          Dignissim quisque praesent amet, tortor nunc vitae. Nunc blandit eu mi duis aliquet. Tempor nulla nullam
          auctor elit sit id nisi. Sit sed in vel orci consequat. Feugiat felis sed eget nec. Augue augue sollicitudin
          facilisis in blandit et velit, arcu.</p>
        <br><br>
        <h2>Processing conditions</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque scelerisque amet feugiat ultrices venenatis,
          posuere. Vulputate ut sit cum felis. Neque eu, ut interdum phasellus ut sed porta. Praesent morbi tellus, nec,
          amet, turpis. Leo, dignissim morbi donec mauris, consectetur dictum donec tristique. Sed risus sagittis
          viverra scelerisque.</p>
        <p>Tortor eu hac tincidunt rhoncus, enim eu arcu, vulputate. Sit nisl tempus ultrices orci pellentesque ut.
          Dignissim quisque praesent amet, tortor nunc vitae. Nunc blandit eu mi duis aliquet. Tempor nulla nullam
          auctor elit sit id nisi. Sit sed in vel orci consequat. Feugiat felis sed eget nec. Augue augue sollicitudin
          facilisis in blandit et velit, arcu.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque scelerisque amet feugiat ultrices venenatis,
          posuere. Vulputate ut sit cum felis. Neque eu, ut interdum phasellus ut sed porta. Praesent morbi tellus, nec,
          amet, turpis. Leo, dignissim morbi donec mauris, consectetur dictum donec tristique. Sed risus sagittis
          viverra scelerisque.</p>
        <p>Tortor eu hac tincidunt rhoncus, enim eu arcu, vulputate. Sit nisl tempus ultrices orci pellentesque ut.
          Dignissim quisque praesent amet, tortor nunc vitae. Nunc blandit eu mi duis aliquet. Tempor nulla nullam
          auctor elit sit id nisi. Sit sed in vel orci consequat. Feugiat felis sed eget nec. Augue augue sollicitudin
          facilisis in blandit et velit, arcu.</p>
      </ul>
    </div>
  </div>
