<div class="b-slider">
  <div class="b-slider__wrapper">
    <div class="swiper mySwiperArticle">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide_article">
          <img class="swiper-slide__img" src="./../img/imposition5.jpg" alt="">
        </div>
        <div class="swiper-slide swiper-slide_article">
          <img class="swiper-slide__img" src="./../img/imposition3.jpg" alt="">
        </div>
        <div class="swiper-slide swiper-slide_article">
          <img class="swiper-slide__img" src="./../img/imposition1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="b-slider__nav">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
