<!--<div class="b-video">-->
<!--    <div class="b-video-article" data-video="https://youtu.be/aH4oAE6vLuo">-->
<!--      <img class="b-video-article__preview" src="" alt="video">-->
<!--      <button class="b-video-article__play btn-reset">-->
<!--          <svg class="b-video-play-btn" width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path-->
<!--              d="M196 100C196 153.019 153.019 196 100 196C46.9807 196 4 153.019 4 100C4 46.9807 46.9807 4 100 4C153.019 4 196 46.9807 196 100Z"-->
<!--              stroke="#FECC00" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" />-->
<!--            <path class="b-video-play-btn__arrow" d="M80 60L140 100L80 140V60Z" fill="white" />-->
<!--          </svg>-->
<!--      </button>-->
<!--    </div>-->
<!--</div>-->


<div class="b-video-block" data-video-block>
  <div class="b-video-block__inner">
<!--    <a href="https://www.youtube.com/watch?v=aH4oAE6vLuo?autoplay=1" data-fancybox class="b-video-block__preview">-->
    <div class="b-video-block__preview">
      <img class="b-video-article__image" src="./img/video-preview-image.jpg" alt="video">
        <button class="b-video-block__trigger">
            <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M196 100C196 153.019 153.019 196 100 196C46.9807 196 4 153.019 4 100C4 46.9807 46.9807 4 100 4C153.019 4 196 46.9807 196 100Z" stroke="#FECC00" stroke-width="8" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M80 60L140 100L80 140V60Z" fill="white" />
            </svg>
        </button>
    </div>
    <div class="b-video-block__frame">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/aH4oAE6vLuo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
